.adentify-container {
    position: relative;
}
    .adentify-container ul.tags {
        list-style-type: none;
    }
        .adentify-container .tags .tag {
            position: absolute;
        }
            /* Tag icon styles */
            .adentify-container .tags .tag .tag-icon {
                background: url('../images/tag-background.png') no-repeat;
                width: 35px;
                height: 36px;
                opacity: 0;
                transition: opacity .1s linear;
            }
            /* END : Tag icon styles */
            .adentify-container:hover .tag .tag-icon {
                opacity: 1;
            }
            /* Popover styles */
            .adentify-container:hover .tags .tag:hover .popover {
                display: block;
                opacity: 1;
            }
            .adentify-container .tags .tag .popover {
                display: none;
                opacity: 0;
                color: white;
                top: 30px;
                left: -50%;
                z-index: 2000;
                padding: 0px;
                border: 0px;
                border-radius: 0px;
                background: rgba(0,0,0,0.7);
                max-width: 350px;

                -webkit-transition: opacity 0.3s ease-out;
                -moz-transition: opacity 0.3s ease-out;
                -ms-transition: opacity 0.3s ease-out;
                -o-transition: opacity 0.3s ease-out;
                transition: opacity 0.3s ease-out;
            }
            .adentify-container .tags .tag .popover-inner {
                padding: 6px;
            }
            /* END : Popover styles */

.ad-media-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: 0.7;
    z-index: 159900;
}

.ad-media-frame-title {
    position: absolute;
    top: 0;
    left: 20px;
    right: 0;
    height: 50px;
    z-index: 200;
}

.ad-media-frame-router {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0;
    height: 36px;
    z-index: 200;
}
.ad-tag-router {
    position: absolute;
    top: 50px;
    /*left: 0px;*/
    right: 288px;
    height: 36px;
    z-index: 200;
}
.ad-media-frame-content {
    position: absolute;
    top: 84px;
    left: 0px;
    right: 0;
    bottom: 61px;
    height: auto;
    width: auto;
    margin: 0;
    overflow: auto;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.ad-media-frame-toolbar {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    height: 60px;
    z-index: 100;
}

.ad-tag-router .active,
.ad-tag-router .media-router > a.active:last-child {
    margin: -1px -1px 0;
    background: #f3f3f3;
}
.ad-tag-frame-content {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0;
    /*bottom: 0px;*/
    /*height: 100%;*/
    /*width: 100%;*/
    margin: 0;
    overflow: auto;
    background: #f3f3f3;
    text-align: center;
    /*border-top: 1px solid #ddd;*/
    /*border-bottom: 1px solid #ddd;*/
}
#ad-display-photo {
    right: 500px;
}
.form-control {
    width: 70%;
    margin-bottom: 10px;
}
/*
.tag-text {
    font-family: 'robotoregular', "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
    padding: 10px;
}
.tag-text .add-tag-info {
    font-size: 16px;
}
.tag-text .add-tag-info span {
    font-size: 16px;
}
.tag-text .add-tag-info li {
    margin: 10px 0px;
}
.pacifico-adentify {
    font-size: 32px;
    color: #2c2c2e;
    font-family: 'pacificoregular', "Helvetica Neue", "Arial", sans-serif;
    padding: 10px 0px 10px 50px;
    border: 0px;
}*/
