.adentify-container {
    position: relative;
}
    .adentify-container ul.tags {
        list-style-type: none;
    }
        .adentify-container .tags .tag {
            position: absolute;
        }
            /* Tag icon styles */
            .adentify-container .tags .tag .tag-icon {
                background: url('../images/tag-background.png') no-repeat;
                width: 35px;
                height: 36px;
                opacity: 0;
                transition: opacity .1s linear;
            }
            /* END : Tag icon styles */
            .adentify-container:hover .tag .tag-icon {
                opacity: 1;
            }
            /* Popover styles */
            .adentify-container:hover .tags .tag:hover .popover {
                display: block;
                opacity: 1;
            }
            .adentify-container .tags .tag .popover {
                display: none;
                opacity: 0;
                color: white;
                top: 30px;
                left: -50%;
                z-index: 2000;
                padding: 0px;
                border: 0px;
                border-radius: 0px;
                background: rgba(0,0,0,0.7);
                max-width: 350px;

                -webkit-transition: opacity 0.3s ease-out;
                -moz-transition: opacity 0.3s ease-out;
                -ms-transition: opacity 0.3s ease-out;
                -o-transition: opacity 0.3s ease-out;
                transition: opacity 0.3s ease-out;
            }
            .adentify-container .tags .tag .popover-inner {
                padding: 6px;
            }
            /* END : Popover styles */