<script type="text/html" id="adentify-uploader">
<div tabindex="0" id="__wp-uploader-id-2" class="supports-drag-drop" style="position: relative;">
    <div class="media-modal wp-core-ui">
        <a id="adentify-modal-close" class="media-modal-close" href="#"><span class="media-modal-icon"><span class="screen-reader-text">Fermer le panneau des médias</span></span></a>
        <div class="media-modal-content"><div class="media-frame mode-select wp-core-ui" id="__wp-uploader-id-0">
            {#<div class="media-frame-menu"><div class="media-menu"><a href="#" class="media-menu-item active">Insérer un média</a><a href="#" class="media-menu-item">Créer une galerie</a><a href="#" class="media-menu-item hidden">Créer une liste de lecture audio</a><a href="#" class="media-menu-item hidden">Créer une liste de lecture vidéo</a><a href="#" class="media-menu-item">Mettre une image à la Une</a><div class="separator"></div><a href="#" class="media-menu-item">Insérer à partir d’une adresse web</a></div></div>#}
            <div class="media-frame-title"><h1>Insérer un média<span class="dashicons dashicons-arrow-down"></span></h1></div>
            <div class="media-frame-router"><div class="media-router"><a href="#" class="media-menu-item active">Envoyer des fichiers</a><a href="#" class="media-menu-item">Bibliothèque de médias</a></div></div>
            <div class="media-frame-content"><div class="uploader-inline">


                <div class="uploader-inline-content no-upload-message">

                    <div class="upload-ui">
                        <h3 class="upload-instructions drop-instructions">Déposez vos fichiers n’importe où pour les mettre en ligne</h3>
                        <p class="upload-instructions drop-instructions">ou</p>
                        <a href="#" class="browser button button-hero" style="display: inline; position: relative; z-index: 1;" id="__wp-uploader-id-1">Sélectionner des fichiers</a>
                    </div>

                    <div class="upload-inline-status"><div class="media-uploader-status" style="display: none;">
                        <h3>Mise en ligne</h3>
                        <a class="upload-dismiss-errors" href="#">Ignorer les erreurs</a>

                        <div class="media-progress-bar"><div></div></div>
                        <div class="upload-details">
			<span class="upload-count">
				<span class="upload-index"></span> / <span class="upload-total"></span>
			</span>
                            <span class="upload-detail-separator">–</span>
                            <span class="upload-filename"></span>
                        </div>
                        <div class="upload-errors"></div>
                    </div></div>

                    <div class="post-upload-ui">

                        <p class="max-upload-size">Taille de fichier maximale pour la mise en ligne&nbsp;: 32 MB.</p>



                    </div>
                </div>
            </div></div>
            <div class="media-frame-toolbar"><div class="media-toolbar"><div class="media-toolbar-secondary"><div class="media-selection empty">
                <div class="selection-info">
                    <span class="count">0 sélection(s)</span>

                    <a class="edit-selection" href="#">Modifier</a>


                    <a class="clear-selection" href="#">Effacer</a>

                </div>
                <div class="selection-view"><ul tabindex="-1" class="attachments ui-sortable" id="__attachments-view-75"></ul></div>
            </div></div><div class="media-toolbar-primary search-form"><a href="#" class="button media-button button-primary button-large media-button-insert" disabled="disabled">Insérer dans l’article</a></div></div></div>
            <div class="media-frame-uploader"><div class="uploader-window">
                <div class="uploader-window-content">
                    <h3>Déposez vos fichiers pour les mettre en ligne</h3>
                </div>
            </div></div>
            <div id="html5_193rmhjrclg41r691lk4rb95nq5_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 237px; left: 887px; width: 240px; height: 46px; overflow: hidden; z-index: 0;"><input id="html5_193rmhjrclg41r691lk4rb95nq5" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept=""></div></div></div>
    </div>
    <div id="adentify-modal-backdrop" class="ad-media-modal-backdrop"></div>
</div>
</script>