<form id="ad-venue-tag-form">
    <div class="tag-form tab-pane active" id="tag-venue" style="display: none">
        <div class="form-group">
            <input class="form-control" id="venue-name" name="venue-name" type="text" placeholder="Venue name">
        </div>
        <div class="form-group">
            <input class="form-control" id="venue-description" name="venue-description" type="text" placeholder="Venue description">
        </div>
        <div class="form-group">
            <input class="form-control" id="venue-url" name="venue-url" type="text" placeholder="Venue url">
        </div>
        <p>
            <button id="submit-tag-venue" type="submit">Confirm and add tag</button>
            <button id="cancel-tag-venue">Cancel</button>
        </p>
    </div>
</form>